body {
  padding: 5% 10%;
    margin: 0 auto;
    font-size: 18px;
  }
  h2{
    text-align: left;
  }
  .list-container {
    width: 50%;
    margin: auto;
    padding: 50px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;}
  img {
    width: 100%;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  p {
    margin: 0;
  }
  #stage {
    margin-bottom: 60px;
  }
  .function {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  #sort {
    margin-right: 30px;
  }
  .personItem {
    border-bottom: solid 1px #ccc;
    padding: 5px;
  }
  .personItem:nth-of-type(1) {
    border-top: solid 1px #ccc;
  }
  .personInfo {
    display: flex;
  }
  .rating {
    margin-left: 20px;
  }
  .personItem-defo {
    text-align: right;
  }
  
  .reason ,.name, .detacretebox{
    margin-top: 10px;
    text-align: left ;
    font-size: 1rem;
  }
  .age {
    margin-left: 20px;
  }
  .stars {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .stars span {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  
  .stars input[type="radio"] {
    display: none;
  }
  
  .stars label {
    color: #d2d2d2;
    font-size: 30px;
    padding: 0 5px;
  }
  h3 {
    padding-top: 40px;
  }
  .personItem-defo {
    display: flex;
    margin-bottom: 20px;
  }
  .created_at {
    text-align: right;
  }
  
  .itemdeta{
    text-align: right;
    width: 70%;
    margin: auto;
  }
  .detacretebox {
    display: flex;
    padding: inherit;
    justify-content: end;
  }
  
  .edit, .delete{
  border : solid 1px #444;
  padding: 5px;
  border-radius: 3px;
  
  }
  
  a:hover{
color: rgb(255, 255, 255);
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  .sortfilter-container{
    padding: 50px;
  }
  


.basket a{
  color: #fff;
}
.list-container {
  width: 30%;
}

.list {
  display: flex;
}

.item {
  width: 30%;
  padding: 0px 10%;
}

.item-img {
  width: 20%;
  text-align: center;
}
.itemdeta{
  display: flex;
}
p.deletes {
  display: block;
  border: solid;
  margin: 0px 0px 20px auto;
  width: 40px;
  border-radius: 3px;
  padding: 6px;
}
p {
  padding: 5px;
  text-align: initial;}
.total{
  font-size: 23px;
  padding: 100px;
text-align:end;
}
.total span {
  color: rgb(180, 39, 39);
}
.item-total-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.itemdeta {

  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
  width: 70%;
}

.itemdeta .item {
  flex-grow: 1;
}
